@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap");
body {
  font-family: Raleway;
  margin: 0;
  font-size: 1.1em;
  text-align: center;
  box-sizing: border-box;
}
* {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: #222;
}
